.container {
	box-shadow: 10px 10px 5px #888888;
	margin: 50px auto;
	width: 600px;
	padding: 20px;
	border-left: 15px solid orange;
	border-right: 5px solid orange;
	background-color: white;
}

.text {

	/*Font*/
  	font-family: Georgia, serif;
  	text-align: justify;
  	line-height: 1.2;
}

body {
	background-color: #f0f0f5;
}

.text::before {
	content: '\201C';
	/*Font*/
	font-family: Georgia, serif;
	font-size: 60px;
	font-weight: bold;
	color: #999;

	position: absolute;
	top: 60px;
	left: 480px;

}

.image {
	margin: 10px auto;
	display: block;
}

.name {
	/*Font*/
  	font-family: Georgia, serif;
  	text-align: right;
  	font-style: italic;
}